<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr ; justify-content: end;"> 
        <% resultado.forEach((fila) => { %>

            <div class="card" style="margin: 10px; width: 20em; height: 25em;">
              <div class="card-body">
                <img style="height: 5em; width: 5em;" class="card-img-top" src="http://localhost:5000/<%= fila.imagen %>" alt="Imagen de <%= fila.nombre_mascota %>">
                <h5 class="card-title"><%= fila.nombre_cliente %></h5>
                <p class="card-text">Tipo de membresía: <%= fila.tipo_membresia %></p>
                <p class="card-text">Fecha de vencimiento: <%= fila.fecha_vencimiento %></p>
                <p class="card-text">Teléfono: <%= fila.telefono %></p>
                <p class="card-text">Dirección: <%= fila.direccion %></p>
                <p class="card-text">Nombre de mascota: <%= fila.nombre_mascota %></p>
               
                
              </div>
            </div>
          <% }) %>
</body>
</html>